h1.text-center Admin Panel

.row
    div.col-lg2.col-md-3.col-sm-4.col-xs-6.box-cell
        a.box(href="/admin/users/")
            i.fa.fa-user.fa-4x.box-image
            span.box-main-text Usuarios