doctype html
html
    
    head
        base(href='/')

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='')
        meta(name='author', content='')
            
        title FicoNet       

        link(rel="stylesheet", type="text/css", href="static/css/styles.css")
        
        script(src="static/js/scripts.js")
        
    body(data-ng-cloak)
        include navbar

        .container(data-ng-view)
        
        script(type="text/ng-template", id="pageLoadingError.html")
            div.error
                img.error-img(src="static/img/meteor_red.png")
                span.error-text Error cargando datos.

        script(type="text/ng-template", id="pageLoading.html")
            div.loading
                img.loading-img(src="static/img/meteor.png")
                span.loading-text Cargando datos...
            
        script.
            angular.bootstrap(document, ['FICONET']);