.navbar.navbar-default.navbar-fixed-top(role='navigation', data-ng-controller="NavbarCtrl")
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-ng-click="navbar.toggleCollapsed()")
                span.sr-only Toogle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-collapse.collapse(collapse="navbar.collapsed")
            ul.nav.navbar-nav
                li(data-ng-class="{ active: navbar.isActive('/')}")
                    a(href='/', data-ng-click="navbar.collapseIfNotCollapsed()") 
                        img.fol-brand.icon-bar(src='static/img/meteor_icon.png')
                        span Principal

            ul.nav.navbar-nav.navbar-right
                li(data-ng-class="{ active: navbar.isActive('/login')}", data-ng-if='!$root.user.username'): a(href="/login", data-ng-click="navbar.collapseIfNotCollapsed()") Login
                li.dropdown(data-ng-if="!!$root.user.username")
                    a.dropdown-toggle(href='#', data-toggle='dropdown') 
                        {{$root.user.username}}
                        b.caret
                    ul.dropdown-menu
                        li: a(href='/admin', data-ng-click="navbar.collapseIfNotCollapsed()", ng-show="$root.isAdmin()") Administrar
                        li.divider
                        li: a(href='#', data-ng-click="logout(); navbar.collapseIfNotCollapsed()") Salir